---
import { typeColors } from "../../../components/API";
import DocsLayout from "../../../components/DocsLayout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const items = await getCollection("generated");
  return items.map((x) => ({
    params: { id: x.id },
    props: { data: x.data },
  }));
};
const data = Astro.props.data
---

<DocsLayout>
  <h1>{data.title}</h1>
  <div class="flex flex-col gap-1">
    {
      data.items.map((x) => (
        <span class="flex gap-2 whitespace-pre">
          <span class={`w-28 ${typeColors[x.kind]}`}>{x.kind.replace("typeAlias", "type")}</span>
          <a href={`/docs/api/${x.name}`}>{x.name}</a>
        </span>
      ))
    }
  </div>
</DocsLayout>
