---
import { getCollection } from "astro:content";
import Layout from "../../../components/Layout.astro";
import { Items } from "./Items";

export const getStaticPaths = async () => {
  const posts = await getCollection("api");
  return posts.map((post) => ({ params: { id: post.id }, props: { ...post.data } }));
};
const { items, id } = Astro.props;
---

<Layout>
  <div class="mt-16 py-10 section flex flex-col">
    <h1 class="text-4xl">{id}</h1>
    <Items items={items} />
  </div>
</Layout>
